* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato';
    color: #808080;
}

/* for heading of each section */

.fs-section-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    align-self: center;
    margin-top: 40px;
}

/* for horizontal line after each heading */

.fs-heading-line {
    border: 1px solid #F63854;
    width: 5%;
    align-self: center;
    margin-top: 10px;
}

/* buttons */

.fs-buttons {
    padding: 10px;
    background-color: #F63854;
    border: none;
    color: white;
    outline: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.fs-cards-container {
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#index {
    z-index: 2;
}
